<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <script th:src="@{/js/echarts.min.js}"></script>
    <style type="text/css">
        body {
            margin-top: 100px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div th:replace="~{user/sidebar :: headerBar}"></div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <form id="queryForm">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="itemname">产品名称：</label>
                    <input type="text" class="form-control" id="itemname" placeholder="产品名" name="itemname">
                </div>
                <div class="form-group col-4">
                    <label for="factory">厂家名称：</label>
                    <input type="text" class="form-control" id="factory" placeholder="厂家名" name="factory">
                </div>
                <div class="form-group col-4">
                    <label for="batch">流水号：</label>
                    <input type="text" class="form-control" id="batch" placeholder="流水号/批号" name="batch">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="factory">位置（起点）：</label>
                    <input type="text" class="form-control" id="start" placeholder="物资的起点处" name="start">
                </div>
                <div class="form-group col-4">
                    <label for="factory">位置（终点）：</label>
                    <input type="text" class="form-control" id="end" placeholder="物资最终到达" name="end">
                </div>
                <div class="form-group col-4">
                    <label for="date">日期：</label>
                    <input type="date" class="form-control" id="date" placeholder="存储该记录时间" name="date">
                </div>
            </div>
            <button type="button" class="btn btn-info pull-right" onclick="getQuery()">查询</button>
        </form>
        <main>
            <div class="row" style="margin: 15px;">

                <div class="col-md-10 justify-content-md-center">
                    <div id="main" style="width: 800px;height: 400px" class="col-md-12 ml-md-auto"></div>
                </div>
            </div>
        </main>

        <a class="btn btn-primary" data-toggle="collapse" href="#optionSetting" role="button" aria-expanded="false"
           aria-controls="multiCollapseExample1">自定义图形</a>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="optionSetting">
                    <div class="card card-body">
                        <form id="customForm">
                            <div class="form-group">
                                <label for="eTitle">标题设置</label>
                                <div class="form-row" id="eTitle">
                                    <div class="input-group">
                                        <input type="text" class="form-control col-7 textInput" id="title" name="title"
                                               placeholder="输入标题内容">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary italic" type="button"
                                                    id="titleItalic"
                                                    name="titleItalic"><i>Ⅰ</i></button>
                                            <button class="btn btn-outline-secondary bold" type="button" id="titleBold"
                                                    name="titleBold"><strong>B</strong></button>
                                            <select class="form-control col-6 fontOption" id="titleFontSize"
                                                    name="titleFontSize">16px</select>
                                            <input type="color" class="form-control col-5" id="titleColor"
                                                   name="titleColor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="xAxis" data-toggle="collapse" href="#xAxis" role="button"
                                       aria-expanded="false"
                                       aria-controls="multiCollapseExample1"><span class="caret"></span>横轴设置</label>
                                <div id="xAxis" class="collapse multi-collapse">
                                    <div class="form-group form-check">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input form-check-inline"
                                                   id="showXAxis" name="showXAxis" checked>
                                            <label class="form-check-label" for="showXAxis">显示横轴</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input form-check-inline"
                                                   id="showXP" name="showXP">
                                            <label class="form-check-label" for="showXP">显示横轴指示器</label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control col-7 textInput" id="xAxisName"
                                               name="xAxisName"
                                               placeholder="输入x轴名字，将显示在右侧">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary italic" type="button"
                                                    id="xAxisItalic"
                                                    name="xAxisItalic"><i>Ⅰ</i></button>
                                            <button class="btn btn-outline-secondary bold" type="button" id="xAxisBold"
                                                    name="xAxisBold"><strong>B</strong></button>
                                            <select class="form-control col-6 fontOption" id="xAxisFontSize"
                                                    name="xAxisFontSize">16px</select>
                                            <input type="color" class="form-control col-5" id="xAxisColor"
                                                   name="xAxisColor">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="xPosition">横轴位置（上下）</label>
                                        <select class="form-control" id="xPosition" name="xPosition">
                                            <option>bottom</option>
                                            <option>top</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="xRotation">标签角度</label>
                                        <input type="number" class="form-control" id="xRotation" name="xRotation" placeholder="输入任意数字" value="45">
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="inputAddress2">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2"
                                       placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputState">希望展现的数据</label>
                                    <select id="inputState" class="form-control">
                                        <option>Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1"></label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="variableOption()">确定</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div th:replace="~{user/sidebar :: navBar}"></div>
    </div>
</div>
<div th:replace="~{templates/commonJs :: commonJs}"></div>
<script th:src="@{/js/echartsOption.js}"></script>
<script type="text/javascript">
    $(function () {
        getQuery();
        fontSizeList();
        active();
    })
    $(document).on('change','input,select',function () {
variableOption()
    })

    $("#deleteToken").click(function () {
        $.removeCookie('login_token', {path: '/'});
        window.location.href("/manager/user/login")
    })

    function getQuery() {
        $.ajax({
            url: '/user-business/getRecordByParams?r=' + Math.random(),
            type: 'get',
            data: $("#queryForm").serialize(),
            success: function (m) {
                mainFirstoption.dataset.source = m.data;
                // console.log(mainFirstoption)
                myChart.setOption(mainFirstoption);
            },
            error: function (e) {
                alert(e.msg);
            }
        })
    }

    window.addEventListener("resize", function () {
        myChart.resize();
    })

    function fontSizeList() {
        var fontSize = ['12px', '14px', '16px', '18px', '20px', '24px', '36px'];
        for (var i = 0; i < fontSize.length; i++) {
            // ES6字符串模板
            var Html = `<option>${fontSize[i]}</option>`
            $(".fontOption").append(Html);
        }
        $(".fontOption").children('option').css('font-size', function () {
            return $(this).val();
        });
        $(".fontOption").val('16px');
        $(".fontOption").change(function () {
            var fontCss = $(this).find('option:selected').css('font-size');
            var text = $(this).parent('div').prev('input');
            text.css('font-size', fontCss);
            text.next('div').children().css('font-size', fontCss);
        })
    }

    function active() {
        $(".italic").click(function () {
            $(this).toggleClass('active');
            var text = $(this).parent('div').prev('input');
            if (text.css('fontStyle') == 'italic') {
                text.css('fontStyle', '');
                $(this).val('normal');
            } else {
                text.css('fontStyle', 'italic')
                $(this).val('italic');
            }
        })
        $(".bold").click(function () {
            $(this).toggleClass('active');
            // alert(text.css('fontWeight'))
            var text = $(this).parent('div').prev('input');
            if (text.css('fontWeight') == '700') {
                text.css('fontWeight', 'Normal');
                $(this).val('normal');
            } else {
                text.css('fontWeight', 'Bold');
                $(this).val('bold');
            }
        })

    }
</script>
</body>
</html>