<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <style type="text/css">
        body{
            margin-top: 100px;
        }
    </style>
    <title>注册</title>
</head>
<body>
<div class="container center-block">
    <div th:replace="~{user/sidebar :: headerBar}"></div>
    <form action="#" id="registForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="userName">用户名</label>
            <input type="text" class="form-control" id="userName" placeholder="用户名" name="userName" onblur="isDupUserName()" required>
            <div class="invalid-feedback" id="userNameTip"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="email">邮箱</label>
            <input type="email" class="form-control" id="email" placeholder="邮箱" name="email">
            <div class="invalid-feedback" id="emailTip"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" placeholder="密码" name="password" required>
            <div class="invalid-feedback" id="passwordTip"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="reInputPassword">重复密码</label>
            <input type="password" class="form-control" id="reInputPassword" placeholder="重复密码" required>
            <div class="invalid-feedback" id="reInputPasswordTip"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="phone">电话</label>
            <input type="tel" class="form-control" id="phone" placeholder="电话" name="phone">
            <div class="invalid-feedback" id="phoneTip"></div>
            </div>
        </div>

        <input type="hidden" value="0" name="role">
        <input type="hidden" value="0" name="status">
        <span id="registMsg" style="color: red"></span>
        <button type="button" class="btn btn-primary" style="text-align: center" onclick="registerByAjax()">注册</button>
    </form>
</div>

<div th:replace="~{templates/commonJs :: commonJs}"></div>
<div>
    <script type="text/javascript" th:src="@{/js/registAndLogin.js}"></script>
</div>
<script>
    $(function () {
        regex();
    })
</script>
</body>
</html>