<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--        <link rel="stylesheet" th:href="@{/css/css.css}">-->
    <!--        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <title>Title</title>
</head>
<body>
<div th:fragment="headerBar">
    <div style="outline:none" tabindex="-1" role="group">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top justify-content-center">
            <div class="container">
            <a class="navbar-brand" href="/index">主页</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/main">控制台 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/userLog">写日志</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" id="isLogin">
                    <a href="/login" data-track="true" data-track-location="header"
                       class="btn nav-link">登录</a>
                    <a href="/regist" data-track="true" data-track-location="header"
                                            class="btn btn-primary nav-link">注册</a>
                </form>
            </div>
            </div>
        </nav>
    </div>
</div>

<div th:fragment="navBar">
    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
        <li role="presentation" class="active"><a href="#" class="nav-link" id="deleteToken">安全退出</a></li>
        <li role="presentation"><a href="/location" class="nav-link">位置管理</a></li>
        <li role="presentation"><a href="#" class="nav-link">Messages</a></li>
    </ul>
</div>
</body>
</html>