.navbar-btn {
    color: #fff !important;
    font-weight: 500
}

@media only screen and (min-width: 767px) {
    .navbar-btn {
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 10px
    }
}

@media only screen and (max-width: 767px) {
    .navbar-btn {
        margin-left: 15px
    }
}