.navbar-btn {
    color: #fff !important;
    font-weight: 500
}

@media only screen and (min-width: 767px) {
    .navbar-btn {
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 10px
    }
}

@media only screen and (max-width: 767px) {
    .navbar-btn {
        margin-left: 15px
    }
}
.caret {
    display: inline-block;
    width: 0rem;
    height: 0rem;
    margin-left: 0.250rem;
    vertical-align: middle;
    border-top: 0.50rem dashed;
    border-top: 0.50rem solid;
    border-right: 0.50rem solid transparent;
    border-left: 0.50rem solid transparent;
    margin-right: 10px;
}