<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/css.css}">

    <title>主页</title>
</head>
<body>
<div class="container" style="text-align: center">
    <div th:replace="~{user/sidebar :: headerBar}"></div>

    <main>
        <section class="section section--hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-5"><h1 class="mb-xs">Redash helps you make sense of your data</h1>
                        <h3 class="font-light">Connect and query your data sources, build dashboards to
                            visualize data and share them with your company.</h3><a
                                href="#" data-track="true" data-track-location="hero"
                                class="btn btn-primary btn-lg one-pan-link-mark">Get Started</a></div>
                    <div class="col-md-7 hidden-xs hidden-sm">
                        <div class="browser-container hidden-xs"><img
                                src="#">
                            <video width="100%" height="100%" autoplay="" loop="" muted="" id="main-video"
                                   __idm_id__="879663105">
                                <source src="#" type="video/mp4">
                                <source src="#" type="video/ogg">
                                <source src="#" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--users bg-mutted-soft" id="anchor">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7"><img
                            src="#"
                            id="customers-illustrate" class="hidden-xs"><img
                            src="#"
                            id="customers-illustrated" class="visible-xs"></div>
                    <div class="col-sm-5"><h3 class="serif em">“Redash is as essential as email to my company.
                        We love data but accessing the data is a pain without Redash. Any company I go to, I get
                        them hooked on Redash. It’s an easy sell :)”</h3>
                        <p><img src="#"
                                width="48px" class="profile-image"> <!-- -->by Ben Dehghan, Co-Founder of
                            <!-- --> <a href="#" class="one-pan-link-mark">Data Miner</a>
                        </p><a data-track="true" data-track-location="customers" track-event="Clicked Customers"
                               class="btn btn-secondary one-pan-link-mark" href="#">Read
                            what our customers say →</a></div>
                </div>
            </div>
        </section>
        <section class="section section__feature section__feature--query">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6"><img
                            src="#"
                            id="write-query-illustrate" class="visible-xs">
                        <h2>Write queries effectively</h2>
                        <p class="highlight-p">Enjoy the power and comfort of a SQL client with the
                            collaborative advantages of a cloud based service.</p>
                        <ul class="highlight-ul">
                            <li>Powerful online SQL editor</li>
                            <li>Browse schema and click-to-insert</li>
                            <li>Create snippets and reuse them</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 hidden-xs"><img
                            src="#"
                            id="write-query-illustrated"></div>
                </div>
            </div>
        </section>
        <section class="section section__feature section__feature--visualize">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6"><img
                            src="#"
                            id="visualize-illustrated"></div>
                    <div class="col-sm-6"><h2>Visualize your data on dashboards</h2>
                        <p class="highlight-p">Always see the big, easy to digest picture for deeper
                            understanding and better decision making.</p>
                        <ul class="highlight-ul">
                            <li>Drag &amp; Drop and resize any visualization</li>
                            <li>Schedule refresh from your data sources</li>
                            <li>Share dashboards with your team or with the public</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section__more-features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-xs-12 p-0 flex-content-center flex">
                        <div class="feature-container"><img
                                src="#"
                                width="64px"><h4>API</h4></div>
                        <div class="feature-container"><img
                                src="#"
                                width="64px"><h4>Alerts</h4></div>
                        <div class="feature-container"><img
                                src="#"
                                width="64px"><h4>User Management</h4></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center"><br><a data-track="true" data-track-location="features"
                                                              track-event="Clicked All Redash Features"
                                                              class="btn btn-secondary one-pan-link-mark"
                                                              href="#">All Redash
                        Features</a></div>
                </div>
            </div>
        </section>
        <section class="section section__integrations">
            <div class="container">
                <div class="row integrations-container">
                    <div class="col-sm-8"><img
                            src="#"
                            id="integrations-illustrated" class="visible-xs">
                        <h2>Query All the Data Sources You Need</h2>
                        <p class="highlight-p">Redash supports SQL, NoSQL, Big Data and API data sources - query
                            your data from different sources to answer complex questions.</p>
                        <p class="highlight-p"><a href="#"
                                                  class="one-pan-link-mark">Supported data sources and
                            integrations →</a></p></div>
                    <div class="col-sm-4 text-right"><img
                            src="#"
                            id="integrations-illustrate" class="hidden-xs"></div>
                </div>
            </div>
        </section>
        <section class="section section__open-source">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2 col-sm-5 col-sm-offset-1"><img
                            src="#"
                            id="open-source-illustrate" class="visible-xs">
                        <h2>Redash is a popular Open Source project</h2>
                        <p class="highlight-p">Customize and add features, no lock-in, contribute back to the
                            community</p><a data-track="true" data-track-location="open-source"
                                            track-event="Clicked Community"
                                            class="btn btn-secondary one-pan-link-mark"
                                            href="#">Our Community</a></div>
                    <div class="col-lg-4 col-sm-5 text-right hidden-xs"><img
                            src="#"
                            id="open-source-illustrated"></div>
                </div>
            </div>
        </section>
        <section class="section section--small get-started">
            <div class="container">
                <div class="row get-started--signup text-center">
                    <div class="col-sm-12 p-0"><h3 class="mb-xs">Get started with Redash and build a more
                        data-driven future</h3><a href="#" data-track="true"
                                                  data-track-location="get-started"
                                                  data-track-event="Clicked Get Started"
                                                  class="btn btn-lg btn-primary one-pan-link-mark">Sign Up
                        Free</a></div>
                </div>
            </div>
        </section>
    </main>
    <button id="test" onclick="test()">开始</button>
</div>
<div th:replace="~{templates/commonJs :: commonJs}"></div>
<script>
    $(function () {

    })

    function test() {
        $.ajax({
                url: "/test",
                success: function () {

                }
            }
        )
    }

</script>
</body>
</html>